/* Sticky footer ------------------------------------------------------------*/
html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  margin-bottom: -$footer-height;

  &:after {
    clear: left;
    content: "";
    display: block;
    height: $footer-height;
  }
}

body > footer {
  height: $footer-height;
}

/* Footer appearance ------------------------------------------------------- */
body > footer {
  background: $footer-color;
  color: $cream-color;
  padding: 1em $content-padding;

  p {
    margin: 0;
  }
}
