body {
  @include background(linear-gradient(to right,
    $coffee-color $sidebar-width - 2px, $gray-color $sidebar-width - 2px,
    $gray-color $sidebar-width, $cream-color $sidebar-width, $cream-color));
}

#content-wrapper {
  float: left;
  width: 100%;
}

#content {
  margin-left: $sidebar-width;
  padding: $content-padding;
}

#sidebar {
  float: left;
  margin-left: -100%;
  padding: $content-padding;
  width: $sidebar-width;
}
