#main-nav {
  $nav-item-gutter: 15px;

  background: $dark-brand-color;
  border-bottom: 3px solid $light-brand-color;
  @include clearfix;
  color: $cream-color;
  padding: 1em $content-padding;

  a {
    &, &:visited {
      color: $cream-color;
    }

    &:hover, &:active, &:focus {
      color: $light-brand-color;
    }
  }

  ul {
    font-size: 1.2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    margin-right: $nav-item-gutter;
    
  }

  .breadcrumbs {
    float: left;

    li:not(:last-child):after {
      content: "\027e9";
      margin-left: $nav-item-gutter;
    }
  }

  .links {
    float: right;
    margin-right: -$nav-item-gutter;
  }
}