.block {
  background: $light-gray-color;
  border: 1px solid $dark-gray-color;
  @include border-radius($block-border-radius);
  padding: 15px 20px;

  .actions {
    margin-top: 15px;
    text-align: right;
  }
}
