.btn {
  -moz-user-select: none;
  background: $brand-color;
  border: 1px solid $dark-brand-color;
  @include border-radius(3px);
  color: $button-text-color;
  cursor: pointer;
  display: inline-block;
  font-size: .7rem;
  line-height: 1.43;
  padding: 3px 10px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(black, .5);
  vertical-align: middle;

  &:hover, &:active, &:focus {
    background: $light-brand-color;
    border-color: $brand-color;
  }
}

a.btn {
  text-decoration: none;

  &:link, &:visited, &:hover, &:active, &:focus {
    color: $button-text-color;
  }
}
