.panel {
  background: white;
  border: 1px solid $dark-gray-color;
  @include border-radius($panel-border-radius);
  margin-bottom: 10px;
}

.panel-body, .panel-heading {
  padding: 6px 10px;
}

.panel-heading {
  background: $olive-color;
  border: 1px solid $dark-gray-color;
  @include border-radius($panel-border-radius $panel-border-radius 0 0);
  margin: -1px -1px 0;
}
