table.text {
  background: white;
  border-collapse: collapse;
  border-spacing: 0;

  tr:nth-child(2n) {
    background: $light-gray-color;
  }

  td, th {
    border: 1px solid #ccc;
    padding: 6px 10px;
  }

  th {
    width: 30%;
  }
}
