.tree {

  $tree-node-icon-size: .8em;
  $tree-node-icon-color: darken($text-color, 5%);

  &, & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul {
    margin-left: 20px;
  }

  li {

    &.open {
      span {
        font-weight: bold;
      }
    }

    > span:before, > a:before {
      background: lighten($text-color, 25%);
      border: 1px solid $tree-node-icon-color;
      content: "";
      display: block;
      float: left;
      font-family: Arial, sans-serif;
      font-size: .85em;
      height: $tree-node-icon-size;
      line-height: .8em;
      margin-right: $tree-node-icon-size;
      margin-top: .4em;
      text-align: center;
      width: $tree-node-icon-size;
    }

    &.parent {
      cursor: pointer;

      & > span:before {
        background: $tree-node-icon-color;
        color: $cream-color;
        content: "+";
        font-weight: normal;
      }

      &.open > span:before {
        content: "-";
        line-height: .6em;
      }
    }
  }

  a {
    text-decoration: none;

    &, &:visited {
      color: $text-color;
    }
  }

  a, span {
    display: inline-block;
    padding-bottom: .25em;
    padding-top: .25em;
  }
}