* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  font-size: $body-font-size;
}

p, div, h1, h2, h3, h4, h5, h6, cite, li {
  line-height: $line-height;
}

table, th {
  text-align: left;
}

td, th {
  vertical-align: top;
}
