body {
  color: $text-color;
  font-family: $font-family;
}

#content, #sidebar {
  font-size: 1.2em;
}

a {

  &:link, &:visited {
    color: $brand-color;
  }

  &:hover, &:active, &:focus {
    color: $light-brand-color;
  }
}

.main-heading {
  border-bottom: 1px solid $text-color;
  @include clearfix;
  margin: 0 0 2em;

  h1 {
    float: left;
    margin-bottom: 0;
  }

  &.with-action .btn {
    float: right;
    margin-bottom: .25em;
    margin-top: .5em;
  }
}

h1 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 1em 0;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 1em 0 .5em;
}

h1, h2 {
  &:first-child {
    margin-top: 0;
  }
}

p {
  margin: 1em 0;
}
