/* Colours ----------------------------------------------------------------- */
$text-color: #625745;
$brand-color: #377e3a;
$light-brand-color: #89b061;
$dark-brand-color: #275d2c;
$footer-color: #5e5946;
$cream-color: #fdfaf1;
$sand-color: #eadac0;
$coffee-color: #dac9ab;
$olive-color: #d1cfb8;
$gray-color: #cdccca;
$light-gray-color: #f5f3f4;
$dark-gray-color: #abaaa6;

/* Typography -------------------------------------------------------------- */
$font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
$body-font-size: 62.5%;
$line-height: 1.5em;

/* Components -------------------------------------------------------------- */
$button-text-color: $cream-color;
$panel-border-radius: 10px;
$block-border-radius: 10px;

/* Layout ------------------------------------------------------------------ */
$content-padding: 30px;
$sidebar-width: 249px;
$footer-height: 2em + $line-height;
